@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.about-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  background-color: #121212;
  flex-wrap: wrap;
}

.about-me-pic {
  border-radius: 10%;
  width: 500px;
  height: 600px;
  margin-top: 140px;
  margin-right: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.about-title {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #e0e0e0;
  font-family: "Quantico";
  text-align: center;
}

.skills-title,
.certifications-title,
.hobbies-title {
  font-size: 1rem;
  margin: 20px 0 10px;
  color: #e0e0e0;
  font-family: "Quantico";
}

.about-description {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1rem;
  color: #e0e0e0;
  font-family: "Quantico";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

li {
  font-size: 1rem;
  color: #d6d2d2;
  margin: 10px 0;
  font-family: "Quantico";
}

.about-text-content {
  max-width: 800px;
  padding-left: 150px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-me-pic {
    width: 90%;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .about-text-content {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 2rem;
  }

  .skills-title,
  .certifications-title,
  .hobbies-title {
    font-size: 0.9rem;
  }

  .about-description,
  li {
    font-size: 0.9rem;
  }
}
