/* Contact.css */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Quantico", sans-serif;
  background-color: #121212; /* Dark background for contrast */
  color: #e0e0e0; /* Light text color */
  margin: 0;
  padding: 0;
}

.contactTitle {
  text-align: center;
  font-size: 2rem;
  color: #e0e0e0;
  margin: 30px 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Limit width for better alignment */
  margin: 0 auto; /* Center the form */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

input,
textarea {
  width: 100%; /* Full width for inputs */
  margin: 10px 0; /* Space between inputs */
  padding: 10px; /* Padding inside inputs */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05); /* Light background for inputs */
  color: #e0e0e0; /* Text color */
  font-family: "Quantico", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #d6d2d2; /* Lighter placeholder text */
}

textarea {
  resize: none; /* Prevent resizing */
  height: 100px; /* Set height for textarea */
}

button {
  background-color: #2980b9; /* Button color */
  color: #ffffff; /* Text color */
  padding: 10px 20px; /* Button padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3498db; /* Button hover color */
}

.success,
.error {
  text-align: center; /* Center the text */
  margin: 10px 0;
  width: 100%;
}

.success {
  color: #2ecc71; /* Green for success */
}

.error {
  color: #e74c3c; /* Red for errors */
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes full width */
  margin-left: 26%;
}
