@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem 2rem;
  box-shadow: none;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  margin: 0 1rem;
  position: relative;
  transition: color 0.3s ease;
  font-family: "Quantico";
}

nav a.active-link {
  color: #a0a3a9;
  font-weight: bold;
}

nav a:hover {
  color: #a0a3a9;
  text-decoration: none;
}

nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #a0a3a9;
  transition: width 0.3s ease;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}

nav a:hover::after,
nav a.active-link::after {
  width: 100%;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-end; /* Align links to the right */
    text-align: right; /* Right-align text for better appearance */
  }
  nav a {
    margin: 0.5rem 0;
  }
}
