@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Prata&display=swap');

* {
  background-color: #121212;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

nav a {
  color: #E0E0E0;
  text-decoration: none;
}

div {
  padding: 2rem;
}
